{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 text-center">
        <img alt="bliimo" id="bliimo-img" src="{{ url_for('static', filename='img/bliimo.png') }}" />
        <h1 class="home-welcome">Welcome to Bliimo box</h1>
        <p class="home-p">Waiting for the QR code to scan.</p>
        <div class="qr-wrapper">
            <div class="ocrloader">
                <div id="bliimo-qr"></div>
                <em></em>
                <div id="qr-code"></div>
                <span></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}