<div id="snackbar"></div>
<div id="bg-main"></div>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.ellipsis.js') }}"></script>
<script src="{{ url_for('static', filename='js/qr.js') }}"></script>

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>

<script src="{{ url_for('static', filename='js/helper/request.js') }}"></script>
<script src="{{ url_for('static', filename='js/helper/response.js') }}"></script>
<script src="{{ url_for('static', filename='js/helper/date.js') }}"></script>
<script src="{{ url_for('static', filename='js/helper/qr-codes.js') }}"></script>
<script src="{{ url_for('static', filename='js/helper/storage.js') }}"></script>
<script src="{{ url_for('static', filename='js/helper/ping.js') }}"></script>

<script src="{{ url_for('static', filename='js/actions/vouchers.js') }}"></script>
<script src="{{ url_for('static', filename='js/actions/users.js') }}"></script>
<script src="{{ url_for('static', filename='js/actions/frontend.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>