<div id="menus">
    <div class="backdrop"></div>
    <div class="fab child" data-subitem="4">
        <a href="/events" class="text-light">
            <i class="fas fa-calendar-alt menu-icon"></i>
        </a>
    </div>
    <div class="fab child" data-subitem="3">
        <a href="/claims" class="text-light">
            <i class="fas fa-ticket-alt menu-icon"></i>
        </a>
    </div>
    <div class="fab child" data-subitem="2">
        <a href="/" class="text-light">
            <i class="fas fa-home menu-icon"></i>
        </a>
    </div>
    <div class="fab child" data-subitem="1">
        <a href="javascript:void(0)" class="text-light" onclick="logout()">
            <i class="fas fa-sign-out-alt menu-icon"></i>
        </a>
    </div>
    <div class="fab" id="masterfab">
        <i class="fas fa-ellipsis-v text-light menu-icon-main"></i>
    </div>
</div>